* {
    margin: 0;
    padding: 0;
}

.rules_btn {

  background-color: #c3977e;
  width: 5%;
  height: 5%;
  top: 72%;
  left: 47.5%;
  position: absolute;
  border-color: black;
  border-width: 0;
  border-radius: 22px;


}

.comm {

  font-size: 22px;
  text-align: center;

}



.play-btn {
  background-color: #c3976a;
	width: 10%;
	height:  10%;
	top: 78%;
	left: 45%;
	position: absolute;
	border-radius: 22px;
  border-width: 0;
}

.Pic {

    background-image: url("assets/chessboard.jpg");
    margin: auto;
    background-size: 100%;
    width: 500px;
    height: 500px;
    border-radius: 22px;
}

.BG {
  
  background-color: #f5eed2;
  height: 964px;
  width: 100%;
  


}

.Title {
    color: #422625;
    font-size: 40px;
    text-align: center;

}
.Link {
    color: #d1cdcd;
    font-size: 20px;



}


.app-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 34, 34);
}
.user-form {
    margin-top: 30px !important;
    max-width: 800px;
    margin: auto;
}

.home {
    min-height: 100vh;
}
.home-columns {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pointer {
    cursor: pointer;
}
.share-game {
    position: absolute;
    width: 500px;
    bottom: 0;
    left: 0;
}
.board-container {
    width: 600px;
    height: 600px;
}

.board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 12.5%;
    height: 12.5%;
}

.promote-square {
    width: 50%;
    height: 50%;
}

.square-black {
    background: #B59963
}

.square-white {
    background: #F0D9B5
}

.board-square {
    width: 100%;
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.piece-container {
    cursor: grab;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece {
    max-width: 70%;
    max-height: 70%;
}

.vertical-text {
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-family: sans-serif;
    padding: 10px;
    color: white;
}

.vertical-text button {
    margin-top: 20px;
    cursor: pointer;
    background: rgb(63, 63, 63);
    border: 2px solid white;
    border-radius: 10px;

}
